@import url('https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*!--- HEADER---*/


header {
    height: 200px;
    background-image: url("../img/banner2.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 200px;
}

header h1 {
    color: red;
    font-size: 50px;
    font-family: "Sixtyfour Convergence", sans-serif;
    font-style: italic;
    font-weight: 400;
}


body header nav ul {
    list-style: none;
    font-style: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;

}

body header nav ul li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

body header nav ul li {
    margin: 10px;
}

/*!--- MAIN---*/


.hero {
    height: 350px;
    text-align: center;
    color: white;
    background-image: url("../img/otro\ banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 45px;
}

.hero p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aquamarine;
    font-size: 20px;
    margin-bottom: 20px;
}

.hero a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px;
}

.bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bienvenida {
    height: 350px;
    background-image: url("../img/salon-amplio-con-decoracion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bienvenida div {
    width: 50%;
}

.bienvenida h2 {
    font-size: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aqua;
    text-align: center;
}

.bienvenida p {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.productos h2 {
    padding: 10px;
    background-color: black;
    text-align: center;
    font-size: 40px;
    color: rgb(208, 255, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.productos-contenedor {
    background-color: whitesmoke;
    height: 470px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

.productos-contenedor div p {
    font-size: 15px;
    text-align: center;
    padding: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.productos-contenedor div {
    border: 1px solid gold;
    width: 301px;
    height: 420px;
    text-align: center;
    margin: 20px;
    box-shadow: 0px 0px 20px 9px #000000;
    border-radius: 15px;
}

.productos div img {
    width: 200px;
    height: 200px;
    padding: 5px;
    background-size: cover;
}

.productos div h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}

.productos div a {
    background-color: black;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    padding: 5px;
}

.bajo-construccion {
    display: flex;
    justify-content: center;
}

.fixed {
    position: fixed;
    bottom: 70px;
    right: 70px;
}

.fixed img {
    width: 50px;
}


/*!--- FOOTER---*/


footer {
    background-color: rgb(102, 102, 14);
    height: 150px;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer div img {
    height: 70px;

}

footer div a img {
    width: 50px;
    height: 50px;
}

footer h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*!---PROMOCIONES HTML---*/

.galeria-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 400px;
    gap: 5px;
    padding: 5px;
}

.galeria-grid div {
    position: relative;
}

.galeria-grid div h3 {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.582);
    width: 100%;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;

}

.galeria-grid div img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.imgrid1a {
    grid-column: span 2;
}

.imgrid3a {
    grid-row: span 2;
}

.imgrid6a {
    grid-column: span 2;
}

/*!---MENU HTML---*/

.carousel-inner {
    height: 600px;
    display: flex;
}

.carousel-inner h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.carousel-inner p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0.582);
}

/*! MEDIA QUERIES */

@media screen and (max-width:1275px) {
    header {
        flex-direction: column;
    }

    header h1 {
        font-size: 30px;
    }

    header img {
        height: 100px;
    }
}

@media screen and (max-width:1030px) {
    .fixed img {
        display: none;
    }

    .productos div img {
        /* display: none; */
    }

    .productos-contenedor div p {
        /* display: none; */
    }

    .productos h3 {
        font-size: 20px;
    }

    .productos-contenedor {
        background-color: whitesmoke;
        height: 480px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .productos-contenedor div {
        border: 1px solid gold;
        width: 200px;
        height: 460px;
        text-align: center;
        margin: 5px;
        box-shadow: 0px 0px 20px 9px #000000;
    }

    .footer {
        display: flex;
        
    }

    .footer div a img {
        width: 30px;
        height: 30px;
    }

    .footer div img {
        height: 40px;
    }

    footer h2 {
        font-size: 20px;
    }

    footer h4 {
        font-size: 15px;
    }
}

@media screen and (max-width:640px) {

    .productos h3 {
        font-size: 18px;
    }

    .productos-contenedor {
        background-color: whitesmoke;
        height: 520px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .productos-contenedor div {
        border: 1px solid gold;
        width: 150px;
        height: 500px;
        text-align: center;
        margin: 5px;
        box-shadow: 0px 0px 20px 9px #000000;
    }
    
    .productos div img {
        width: 120px;
        height: 120px;
    }

    .bienvenida h2 {
        font-size: 30px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aqua;
        text-align: center;
    }

    .bienvenida p {
        font-size: 15px;
        color: white;
        text-align: center;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .galeria-grid {
        grid-template-columns: 1fr 1fr;
    }

    .imgrid5a {
        grid-column: span 2;
    }
}

@media screen and (max-width:480px) {
    body header nav ul li a {
        font-size: 10px;
    }

    .productos-contenedor {
        background-color: whitesmoke;
        height: 1000px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .productos-contenedor div {
        border: 1px solid gold;
        width: 150px;
        height: 480px;
        text-align: center;
        margin: 5px;
        box-shadow: 0px 0px 20px 9px #000000;
    }
    
    .productos div img {
        width: 120px;
        height: 120px;
    }

    footer h2 {
        font-size: 15px;
    }

    footer h4 {
        font-size: 12px;
    }
}