.bienvenida {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-image: url("../img/salon-amplio-con-decoracion.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

    div {
        width: 50%;
    }

    h2 {
        font-size: 50px;
        background-color: rgba(0, 0, 0, 0.582);
        border-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: aqua;
        text-align: center;
        }
        p {
            font-size: 20px;
            background-color: rgba(0, 0, 0, 0.582);
            border-radius: 10px;
            color: $color-4;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            }
    }

