footer {
    background-color: rgb(102, 102, 14);
    height: 150px;
    padding: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    div {
        img {
            height: 70px;
        }

        a img {
            width: 50px;
            height: 50px;
            transition: 1s;
        }
        a img:hover {
            transform: scale(1.2);
        }
    }

    h2 { 
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h4 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}