header {
    height: 200px;
    background-image: url("../img/banner2.webp");
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1 {
        color: red;
        font-size: 50px;
        font-family: "Sixtyfour Convergence", sans-serif;
        font-style: italic;
        font-weight: 400;
    }

    img {
        height: 200px;
    }

    nav {
        ul {
            list-style: none;
            font-style: normal;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            font-weight: bold;

            li {
                margin: 10px;

                a {
                    text-decoration: none;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    color: white;
                    transition: 0.5s;
                }
                a:hover {
                    color: green;
                }
            }
        }
    }
}