.productos {
    h2 {
        padding: 10px;
        background-color: black;
        text-align: center;
        font-size: 40px;
        color: rgb(208, 255, 0);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    div {
        img {
            width: 200px;
            height: 200px;
            padding: 5px;
            background-size: cover;
        }

        h3 {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin-bottom: 20px;
        }

        a {
            background-color: black;
            text-decoration: none;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: white;
            padding: 5px;
        }
    }


    .productos-contenedor {
        background-color: whitesmoke;
        height: 470px;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }

    .productos-contenedor div p {
        font-size: 15px;
        text-align: center;
        padding: 15px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    .productos-contenedor div {
        border: 1px solid gold;
        width: 301px;
        height: 420px;
        text-align: center;
        margin: 20px;
        box-shadow: 0px 0px 20px 9px #000000;
        border-radius: 15px;
        transition: 0.7s;
    } 

    .productos-contenedor div a {
        transition: 0.5s;
    }
}

.productos-contenedor div:hover {
    transform: scale(1.05);
}

.fixed {
    position: fixed;
    bottom: 70px;
    right: 70px;

    img {
        width: 50px;
    }
}