@media screen and (max-width:1275px) {
    header {
        flex-direction: column;

        h1 {
            font-size: 30px;
        }

        img {
            height: 100px;
        }
    }
}

@media screen and (max-width:1030px) {
    .fixed img {
        display: none;
    }

    .productos {
        h3 {
            font-size: 20px;
        }

        .productos-contenedor {
            background-color: whitesmoke;
            height: 480px;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;

            div {
                border: 1px solid gold;
                width: 200px;
                height: 460px;
                text-align: center;
                margin: 5px;
                box-shadow: 0px 0px 20px 9px #000000;
            }
        }
    }

    .footer {
        display: flex;

        div {
            a {
                img {
                    width: 30px;
                    height: 30px;
                }
            }

            img {
                height: 40px;
            }
        }
    }

    footer {
        h2 {
            font-size: 20px;
        }

        h4 {
            font-size: 15px;
        }
    }
}

@media screen and (max-width:640px) {

    .productos {
        h3 {
            font-size: 18px;
        }

        div {
            img {
                width: 120px;
                height: 120px;
            }
        }

        .productos-contenedor {
            background-color: whitesmoke;
            height: 520px;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;

            div {
                border: 1px solid gold;
                width: 150px;
                height: 500px;
                text-align: center;
                margin: 5px;
                box-shadow: 0px 0px 20px 9px #000000;
            }
        }
    }

    .bienvenida {
        h2 {
            font-size: 30px;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: aqua;
            text-align: center;
        }

        p {
            font-size: 15px;
            color: yellow;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    }

    .galeria-grid {
        grid-template-columns: 1fr 1fr;
    }

    .imgrid5a {
        grid-column: span 2;
    }
}

@media screen and (max-width:480px) {

    header {
        nav {
            ul {
                li {
                    a {
                        font-size: 13px;
                    }
                }
            }
        }
    }

    .productos {
        .productos-contenedor {
            background-color: whitesmoke;
            height: 1000px;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;

            div {
                border: 1px solid gold;
                width: 150px;
                height: 480px;
                text-align: center;
                margin: 5px;
                box-shadow: 0px 0px 20px 9px #000000;
            }
        }
    }

    footer {
        h2 {
            font-size: 15px;
        }

        h4 {
            font-size: 12px;
        }
    }
}